// COLORS
$primary-color: #3d93a8;
$secondary-color: #669fad;

$white-color: rgb(36, 36, 36);

$dark-grey: #cfcfcf;

$dark-blue-text: #d1d1d1; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
